.left_div{
    width: 75%;
    float:left;
}
.right_div{
    width: 20%;
    margin-left:10px;
    float:left;
    word-wrap: break-word;
    background-color: grey;
}

.parent_div{
	width: 100%;
    overflow:auto;
    padding-top:2em;
}

.budget_inside{
    margin-top: 15px;
}

.entry:not(:first-of-type)
{
    margin-top: 10px;
}

.glyphicon
{
    font-size: 12px;
}

.invalid {
  color: red;
  border-color: red
}

