<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-datepicker.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="Stylesheet" href="/stylesheets/jquery-ui-1.8.23.custom.css" />
    <script type="text/javascript" src="/javascripts/cc.js?v=<%=$ver_number%>"></script>
    <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>
    <link href="/stylesheets/jquery_dataTables.css" rel="stylesheet">
    <link href="/stylesheets/cc.css" rel="stylesheet">
    <h2 align="center"> Export Data </h2>
  </head>  
  <body class = "body" style="margin-left:15em; margin-right:15em;">
    <form method="GET" action="/form_submission" class="form-horizontal" style="margin-top:10px">        
      <div class="parent_div"> <!-- Main Div --> 
        <div class="form-group left_div">
          <label for="startDate"><b>From Date</b></label>  
          <input type="text" class="input-xxlarge" id="startDate" name="startDate" maxlength="10">   
        </div>
        <div class="control-group right_div">
          <label class="control-label" >Description goes here</label>
        </div>
      </div>

      <div class="parent_div"> <!-- Main Div --> 
        <div class="form-group left_div">
          <label for="endDate"><b>To Date</b></label>  
          <input type="text" class="input-xxlarge" id="endDate" name="endDate" maxlength="10">   
        </div>
        <div class="control-group right_div">
          <label class="control-label" for="sponsor">Description goes here</label>
        </div>
      </div>

      <div class="parent_div"> <!-- Main Div --> 
        <div class="form-group left_div">
          <label for="endDate"><b>Filters</b></label>  
        <div class="span2">
          <label class="checkbox">
            <input type="checkbox" value="option1" id="inlineCheckbox1"> Sponsor
          </label>
          <label class="checkbox">
              <input type="checkbox" value="option2" id="inlineCheckbox2"> Due Date
          </label>
          <label class="checkbox">
              <input type="checkbox" value="option3" id="inlineCheckbox3"> Funding
          </label>
          <label class="checkbox">
              <input type="checkbox" value="option3" id="inlineCheckbox3"> PI Details
          </label>
          <label class="checkbox">
              <input type="checkbox" value="option1" id="inlineCheckbox1"> Co-PI Details
          </label>
          <label class="checkbox">
              <input type="checkbox" value="option2" id="inlineCheckbox2"> Collaborators
          </label>
        </div>
        <div class="span2">
            <label class="checkbox">
                <input type="checkbox" value="option3" id="inlineCheckbox3"> Title
            </label>
            <label class="checkbox">
                <input type="checkbox" value="option3" id="inlineCheckbox3"> Start Date
            </label>
            <label class="checkbox">
                <input type="checkbox" value="option1" id="inlineCheckbox1"> End Date
            </label>
            <label class="checkbox">
                <input type="checkbox" value="option2" id="inlineCheckbox2"> Budget
            </label>
            <label class="checkbox">
                <input type="checkbox" value="option3" id="inlineCheckbox3"> Cost Share
            </label>
            <label class="checkbox">
                <input type="checkbox" value="option3" id="inlineCheckbox3"> Human Subjects
            </label>
        </div>
        <div class="span2">
            <label class="checkbox">
                <input type="checkbox" value="option3" id="inlineCheckbox3"> Clinical Trials
            </label>
            <label class="checkbox">
                <input type="checkbox" value="option3" id="inlineCheckbox3"> Vertebrate animals
            </label>
            <label class="checkbox">
                <input type="checkbox" value="option1" id="inlineCheckbox1"> Waste Materials
            </label>
            <label class="checkbox">
                <input type="checkbox" value="option2" id="inlineCheckbox2"> IP issues
            </label>
            <label class="checkbox">
                <input type="checkbox" value="option3" id="inlineCheckbox3"> Financial Conflicts
            </label>
            <label class="checkbox">
                <input type="checkbox" value="option3" id="inlineCheckbox3"> Additional Notes
            </label>
        </div>

        <div class="span2">
            <label class="checkbox">
                <input type="checkbox" value="option3" id="inlineCheckbox3"> RA Name
            </label>
            <label class="checkbox">
                <input type="checkbox" value="option3" id="inlineCheckbox3"> Proposal Routing #
            </label>
            <label class="checkbox">
                <input type="checkbox" value="option1" id="inlineCheckbox1"> Proposal Status
            </label>
            <label class="checkbox">
                <input type="checkbox" value="option2" id="inlineCheckbox2"> Award Status
            </label>
            <label class="checkbox">
                <input type="checkbox" value="option3" id="inlineCheckbox3"> Solicitation
            </label>
            <label class="checkbox">
                <input type="checkbox" value="option3" id="inlineCheckbox3"> Fastlane #
            </label>
        </div>
    </div>
    <div class="control-group right_div">
      <label class="control-label" for="sponsor">Description goes here</label>
    </div>
  </div>
  <div class="form-actions" style="padding-top:10px">  
    <button type="submit" id="apply_filter" class="btn btn-primary">Export</button>  
</div>

  </form>
  </body>
</html>
