<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-datepicker.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="Stylesheet" href="/stylesheets/jquery-ui-1.8.23.custom.css" />
    <script type="text/javascript" src="/javascripts/cc.js?v=<%=$ver_number%>"></script>
    <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>
    <link href="/stylesheets/jquery_dataTables.css" rel="stylesheet">
    <link href="/stylesheets/cc.css" rel="stylesheet">
    <h2 align="center"> CIDSE Intake Form </h2>
  </head>  
  <body class = "body" style="margin-left:15em; margin-right:10em;">
            <form id="intake_form" method="GET" action="/form_submission" class="form-horizontal" style="margin-top:10px">  
            
            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="sponsor"><b>Sponsor</b></label>  
                    <input type="text" class="input-xxlarge form-control" name="sponsor" id="sponsor" placeholder="Sponsor Name">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>
            
            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="due_date"><b>Due Date</b></label>  
                    <input type="text" class="input-xxlarge" id="due_Date" name="due_Date" maxlength="10">   
                </div>
                <div class="control-group right_div">
                    <label class="control-label" for="sponsor">Description goes here</label>
                </div>
            </div>
            
            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">

                    <label for="funding_check"><b>Funding Announcement, attach file or link</b></label> 
                    <input type="radio" name="funding_check" class="funding_check" value="attach_file"> <strong>Attach File</strong>&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="funding_check" class="funding_check" value="provide_link"> <strong>Provide Link</strong>&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>
                    
                    <input type="text" class="input-xxlarge" style="display:none;" id="funding" name="funding" placeholder="Funding Announcement, provide link or attach file">   

                    <div id="file_upload" style="display:none;">  
                        <input name='myfile' type='file' style="margin-bottom:5px;">
                    </div>
                </div>
                <div class="control-group right_div">
                    <label class="control-label" for="sponsor">Description goes here</label>
                </div>
            </div>

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="Allocation"><b>Collaborator Information</b></label> 
                    <div class="clearfix">
                      <div class="col-md-12 column">
                        <table class="table table-bordered table-hover" style="width:60%" id="tab_logic">
                          <thead>
                            <tr >
                              <th class="text-center">
                                #
                              </th>
                              <th class="text-center">
                                Name
                              </th>
                              <th class="text-center">
                                Center
                              </th>
                              <th class="text-center">
                                Allocation
                              </th>
                              <th class="text-center">
                                -
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr id='addr0'>
                              <td>
                                PI&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                              </td>
                              <td>
                                <input type="text" name='name0'  placeholder='Name' class="form-control"/>
                              </td>
                              <td>
                                <input type="text" class="input-medium" name='mail0' placeholder='Center Name' class="form-control"/>
                              </td>
                              <td>
                                <input type="text" class="input-small" name='mobile0' placeholder='Allocation %' class="form-control"/>
                              </td>
                              <td>
                              </td>
                            </tr>
                            <tr id='addr1'></tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <a id="add_row" class="btn btn-default pull-left">Add CO-PI</a>

                </div>
                <div class="control-group right_div">
                    <label class="control-label" for="sponsor">Description goes here</label>
                </div>
            </div>


            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="Allocation"><b>External Collaborator Information</b></label> 
                    <div class="clearfix">
                      <div class="col-md-12 column">
                        <table  border="1"  class="table table-hover" style="width:85%" id="tab_col">
                          <thead>
                            <tr >
                              <th class="text-center">
                                #
                              </th>
                              <th class="text-center">
                                Questions
                              </th>
                              <th class="text-center">
                                Information
                              </th>
                              <th class="text-center">
                                -
                              </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr id='addr0'>
                              <td rowspan="4"><li></li></td>
                              <td >
                                Name
                              </td>
                              <td>
                                <input type="text" name='name0'  placeholder='Name' class="form-control"/>
                              </td>
                              <td rowspan="4"><a class='pull-right btn btn-danger delete_box'>Delete</a></td>
                            </tr>
                            <tr id='addr0'>
                              <td>
                                Contact
                              </td>
                              <td>
                                <input type="text" name='contact'  placeholder='Contact' class="form-control"/>
                              </td>
                            </tr>
                            <tr id='addr0'>
                              <td>
                                Which Institution is the Lead?
                               </td>
                              <td>
                                <input type="text" name='institution'  placeholder='Institution Name' class="form-control"/>
                              </td>
                            </tr>
                            <tr id='addr0'>
                              <td>
                                Name of Lead PI at collaborating institutions? 
                              </td>
                              <td>
                                <input type="text" name='pi'  placeholder='Name of Lead PI' class="form-control"/>
                              </td>
                            </tr> 
                            <tr id='addr1'></tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <a id="add_clrow" class="btn btn-default pull-left">Add Collaborators</a>

                </div>
                <div class="control-group right_div">
                    <label class="control-label" for="sponsor">Description goes here</label>
                </div>
            </div>

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="title"><b>Project Title</b></label>  
                    <input type="text" class="input-xxlarge form-control" name="title" id="title" placeholder="Project Title">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>

            
            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="startDate"><b>Project Start Date</b></label>  
                    <input type="text" class="input-xxlarge" id="startDate" name="startDate" maxlength="10">   
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>


            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="endDate"><b>Project End Date</b></label>  
                    <input type="text" class="input-xxlarge" id="endDate" name="endDate" maxlength="10">   
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="budget"><b>Budget request</b></label> 
                      <input type="radio" class="budget" name="budget" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
                      <input type="radio" class="budget" name="budget" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
                      <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>                      
                      <div id="budget" style="display:none;">
                        <input type="text" class="input-large budget_inside" placeholder="Total project budget targets">
                        <input type="text" class="input-large budget_inside" placeholder="Annual budget targets">
                        <input type="text" class="input-large budget_inside" placeholder="PI and Co-PI effort">
                        <input type="text" class="input-large budget_inside" placeholder="Graduate students">
                        <input type="text" class="input-large budget_inside" placeholder="Post Docs">
                        <input type="text" class="input-large budget_inside" placeholder="Other Staff">
                        <input type="text" class="input-large budget_inside" placeholder="Materials and Supplies">
                        <input type="text" class="input-large budget_inside" placeholder="Equipment and Facility Use Fees">
                        <input type="text" class="input-large budget_inside" placeholder="Consultants">
                        <input type="text" class="input-large budget_inside" placeholder="Subgrants or collaborators">
                        <input type="text" class="input-large budget_inside" placeholder="Publications">
                        <input type="text" class="input-large budget_inside" placeholder="Foreign Travel">
                        
                        <input type="text" class="input-large budget_inside" style="display:block" placeholder="Domestic Travel">
                        <textarea rows="8" class="span5" style="margin-top:10px" placeholder="If Domestic Travel amount present then specify the meetings or conferences you will attend."></textarea>  
                        <input type="text" class="input-large budget_inside" style="display:block" placeholder="Non-Capital Equipment">
                        <textarea rows="8" class="span5" style="margin-top:10px"placeholder="If computer equipment is included, description of the equipment must indicate that the equipment is not general computer equipment that can be used on other projects or for faculty's academic appointment activities (ASU classes,etc.). The equipment must be described as uniquely required for and dedicated only to the project proposed."></textarea>  
                        <input type="text" class="input-large budget_inside" style="display:block" placeholder="Other">


                      </div>     

                </div>
                <div class="control-group right_div">
                    <label class="control-label" for="sponsor">Description goes here</label>
                </div>
            </div>


            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="costshare"><b>Cost Share?</b></label> 
                    <input type="radio" name="costshare" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="costshare" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>
                    <div class="collapse send-now">
                      <input type="text" class="input-xxlarge" id="funding" name="funding" placeholder="How much cost is shared?">   
                    </div>
                </div>
                <div class="control-group right_div">
                    <label class="control-label" for="sponsor">Description goes here</label>
                </div>
            </div>


            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="human"><b>Human Subjects?</b></label> 
                    <input type="radio" name="human" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="human" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>
                </div>
                <div class="control-group right_div">
                    <label class="control-label" for="sponsor">Description goes here</label>
                </div>
            </div>

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="clinical"><b>Clinical Trials?</b></label> 
                    <input type="radio" name="clinical" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="clinical" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>
                </div>
                <div class="control-group right_div">
                    <label class="control-label" for="sponsor">Description goes here</label>
                </div>
            </div>


            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="vertebrate"><b>Vertebrate animals?</b></label> 
                    <input type="radio" name="vertebrate" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="vertebrate" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>
                </div>
                <div class="control-group right_div">
                    <label class="control-label" for="sponsor">Description goes here</label>
                </div>
            </div>


            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="waste"><b>Biological, Hazardous Materials, or Chemical Materials Waste?</b></label> 
                    <input type="radio" name="waste" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="waste" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>
                </div>
                <div class="control-group right_div">
                    <label class="control-label" for="sponsor">Description goes here</label>
                </div>
            </div>


            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="ip_issues"><b>IP issues?</b></label> 
                    <input type="radio" name="ip_issues" value="yes"> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
                    <input type="radio" name="ip_issues" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
                    <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>
                </div>
                <div class="control-group right_div">
                    <label class="control-label" for="sponsor">Description goes here</label>
                </div>
            </div>

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="conflict"><b>Financial conflict of interest for this proposal</b></label> 
                      <input type="radio" class="conflict" name="conflict" value="yes" class=""> <strong>Yes</strong>&nbsp;&nbsp;&nbsp;
                      <input type="radio" class="conflict" name="conflict" value="no"> <strong>No</strong>&nbsp;&nbsp;&nbsp;
                      <button type="button" class="btn btn-warning delete clear_radio"><i class="glyphicon glyphicon-trash"></i><span>Clear</span></button>                      
                      <input type="text" class="input-xxlarge" style="display:none;" id="conflict" name="conflict" placeholder="Please note with which investigator">   
                </div>
                <div class="control-group right_div">
                    <label class="control-label" for="sponsor">Description goes here</label>
                </div>
            </div>

            <div class="form-actions" style="padding-top:10px; padding-left:20px">  
                <button type="submit" id="apply_filter" class="btn btn-primary">Send</button>  &nbsp; &nbsp; &nbsp; &nbsp;  
                <button type="submit" id="apply_filter" class="btn btn-danger">Reset</button>  
            </div>  
        </form>
</table>
  </body>
</html>
    
