<!DOCTYPE html>
<html>
  <head>
    <link href="/stylesheets/jquery-ui.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/javascripts/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap-datepicker.js"></script>
    <script src="/javascripts/jquery-ui.min.js"></script>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet">
    <link type="text/css" rel="Stylesheet" href="/stylesheets/jquery-ui-1.8.23.custom.css" />
    <script type="text/javascript" src="/javascripts/cc.js?v=<%=$ver_number%>"></script>
    <script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>
    <link href="/stylesheets/jquery_dataTables.css" rel="stylesheet">
    <link href="/stylesheets/cc.css" rel="stylesheet">
    <h2 align="center"> CIDSE Project and Proposal Tracking </h2>
  </head>  
  <body class = "body" style="margin-left:15em; margin-right:15em;">
            <form method="GET" action="/form_submission" class="form-horizontal" style="margin-top:10px">  
            
            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="title"><b>Title</b></label>  
                    <input type="text" class="input-xxlarge form-control" name="title" id="title" placeholder="Project or Proposal Title">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="proposalno"><b>Proposal Number</b></label>  
                    <input type="text" class="input-xxlarge form-control" name="proposalno" id="proposalno" placeholder="Proposal Number">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>            

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="school"><b>School</b></label>  
                    <select class="input-xxlarge form-control" name="school" id="school"> 
                      <option></option>
                      <option>Arizona State University</option>
                      <option>University</option>
                    </select>
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>


            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="investigator"><b>Investigator</b></label>  
                    <select class="input-xxlarge form-control" name="investigator" id="investigator"> 
                      <option></option>
                      <option></option>
                    </select>
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>


            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="academic"><b>Academic Program</b></label>  
                    <select class="input-xxlarge form-control" name="academic" id="academic"> 
                      <option></option>
                      <option></option>
                    </select>
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>

            
            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="sponsor"><b>Sponsor Name</b></label>  
                    <div style="dispaly:block; margin-bottom:10px;">
                      <input type="radio" name="sponsor" value="list" checked="checked"> Select value from List <br/>
                      <select style="margin-top:10px;" class="input-xxlarge form-control" name="sponsor_list" id="sponsor_list" > 
                        <option></option>
                        <option></option>
                      </select>
                    </div>
                    <input type="radio" name="sponsor" value="text"> Specify your own value <br/>
                    <input type="text" style="margin-top:10px;" class="input-xxlarge form-control" name="sponsor_text" id="sponsor_text" placeholder="Enter your own value">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="psname"><b>Prime Sponsor Name</b></label>  
                    <input type="text" class="input-xxlarge form-control" name="psname" id="psname" placeholder="Prime Sponsor Name">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>            

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="contact"><b>RA Contact for Proposal</b></label>  
                    <select class="input-xxlarge form-control" name="contact" id="contact"> 
                      <option></option>
                      <option></option>
                    </select>
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>


            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="gco"><b>GCO Submitting Proposal</b></label>  
                    <select class="input-xxlarge form-control" name="gco" id="gco"> 
                      <option></option>
                      <option></option>
                    </select>
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>


            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="status"><b>Proposal Status</b></label>  
                    <select class="input-xxlarge form-control" name="status" id="status"> 
                      <option></option>
                      <option></option>
                    </select>
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>
            
            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="acno"><b>Account Number</b></label>  
                    <input type="text" class="input-xxlarge form-control" name="acno" id="acno" placeholder="Account Number">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>            
            
            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="cancel_reason"><b>Cancellation Reason</b></label>  
                    <input type="text" class="input-xxlarge form-control" name="cancel_reason" id="cancel_reason" placeholder="Cancellation Reason">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>            


            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="fano"><b>FA Number</b></label>  
                    <input type="text" class="input-xxlarge form-control" name="fano" id="fano" placeholder="FA number">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>            

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="falink"><b>FA Hyperlink</b></label>  
                    <div style="dispaly:block; margin-bottom:10px;">
                      Type the Web address: <br/>
                      <input type="text" style="margin-top:10px;" class="input-xxlarge form-control" name="falink" id="falink" placeholder="http://">  
                    </div>
                    Type the description: <br/>
                    <input type="text" style="margin-top:10px;" class="input-xxlarge form-control" name="fadesc" id="fadesc" placeholder="Enter description">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="doctype"><b>Document Type</b></label>  
                    <select class="input-xxlarge form-control" name="doctype" id="doctype"> 
                      <option></option>
                      <option></option>
                    </select>
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="notification"><b>PI-to-RA Notification</b></label>  
                    <input type="text" class="input-xxlarge" id="notification" name="notification" maxlength="10">   
                </div>
                <div class="control-group right_div">
                    <label class="control-label" for="sponsor">Description goes here</label>
                </div>
            </div>
            
             <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="udeadline"><b>Unit Deadline</b></label>  
                    <input type="text" class="input-xxlarge" id="udeadline" name="udeadline" maxlength="10">   
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="sdeadline"><b>Sponsor Deadline</b></label>  
                    <input type="text" class="input-xxlarge" id="sdeadline" name="sdeadline" maxlength="10">   
                </div>
                <div class="control-group right_div">
                    <label class="control-label" for="sdeadline">Description goes here</label>
                </div>
            </div>

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="budget"><b>Requested Budget</b></label>  
                    <input type="text" class="input-xxlarge form-control" name="budget" id="budget" placeholder="Requested Budget">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>            

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="startDate"><b>Requested Start Date</b></label>  
                    <input type="text" class="input-xxlarge" id="startDate" name="startDate" maxlength="10">   
                </div>
                <div class="control-group right_div">
                    <label class="control-label" for="startDate">Description goes here</label>
                </div>
            </div>
            
            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="endDate"><b>Requested End Date</b></label>  
                    <input type="text" class="input-xxlarge" id="endDate" name="endDate" maxlength="10">   
                </div>
                <div class="control-group right_div">
                    <label class="control-label" for="sponsor">Description goes here</label>
                </div>
            </div>

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="sharing"><b>Cost Sharing ( Check if "Yes")</b></label>  
                    <input type="checkbox" class="input-xxlarge form-control" name="sharing" id="sharing">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>            

             <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="sharetype"><b>Cost Share Type</b></label>  
                    <select class="input-xxlarge form-control" name="sharetype" id="sharetype"> 
                      <option></option>
                      <option></option>
                    </select>
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>


            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="waiver"><b>F&A Waiver</b></label>  
                    <input type="checkbox" class="input-xxlarge form-control" name="waiver" id="waiver">  
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>            

            <div class="parent_div"> <!-- Main Div --> 
                <div class="form-group left_div">
                    <label for="highlights"><b>Highlights</b></label>  
                    <textarea rows="8" class="span5" style="margin-top:10px"></textarea>  
                        
                </div>
                <div class="control-group right_div">
                    <label class="control-label" >Description goes here</label>
                </div>
            </div>            

                       
            <div class="form-actions" style="padding-top:10px">  
                <button type="submit" id="apply_filter" class="btn btn-primary">Save</button>  
                <button type="button" id="apply_reset" class="btn btn-danger">Cancel</button>  
            </div>  
        </form>
</table>
  </body>
</html>
    
